name: Frontend CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  # Job - 1 : CI
  ci:
    name: Code Quality, Security & Build
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:

      # 1.1 Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # 0 - History, 1 - Only Current commit

      # 1.2 Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      # 1.3 Install dependencies
      - name: Install dependencies
        run: npm ci

      # 1.4 Install Gitleaks
      - name: Install Gitleaks
        run: |
          sudo apt update
          sudo apt install gitleaks -y

      # 1.5 Git Leaks Version    
      - name: Show Gitleaks Version
        run: gitleaks version

      # 2 GitLeak Scan (working tree only)
      - name: Run Gitleaks Scan
        run: |
          gitleaks detect \
            --no-git \
            --redact \
            --exit-code 1

      # 3. ESLint (fast linting)
      - name: Run ESLint (code quality inspector)
        run: npm run lint

      # 4. Unit Tests
      #- name: Run unit tests
      #  run: npm run test -- --run

      # 5. Build validation
      - name: Build project
        run: npm run build

  # Job - 2 : Qodana
  qodana:
    name: Qodana Local Scan (SARIF Upload)
    runs-on: ubuntu-latest
    needs: ci
    timeout-minutes: 15
    linter: jetbrains/qodana-js-community:latest

    permissions:
      contents: read
      security-events: write   # REQUIRED for Security tab

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run Qodana (local scan)
        uses: JetBrains/qodana-action@v2024.3
        with:
          upload-result: false
          results-dir: qodana-results

      - name: Upload Qodana SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: qodana-results/qodana.sarif.json
